{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class = 'container '>
        <h1 class  = 'blogTitle center-align'>{{ post.title }}</h1>
        <p class="date">
        Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|linebreaks }}
        <p>
        <a href="{% url "blog:post_share" post.id %} " class  = 'center-align'>Share this post </a>
        </p>

        <section class = 'preComment'>
                {% with comments.count as total_comments %}
                <h2 class = 'countComment'>
                {{ total_comments }} comment{{ total_comments|pluralize }}
                </h2>
                {% endwith %}

                    {% for comment in comments %}
                    <div class="comment">
                    <p class="info">
                    Comment {{ forloop.counter }} by {{ comment.name }}
                    {{ comment.created }}
                    </p>
                    {{ comment.body|linebreaks }}
                    </div>
                    {% empty %}
                    <p>There are no comments yet.</p>
                    {% endfor %}

        </section>


        <section>
                    {% if new_comment %}
                    <h2>Your comment has been added.</h2>
                    {% else %}
                    <h2 class  = 'addComment center-align'>Add a new comment</h2>
                    <form action="." method="post">
                    {{ comment_form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="Add comment"></p>
                    </form>
                    {% endif %}

        </section>
</div>
{% endblock %}